dedupe-peer-dependents = false

; @xcoins-core:registry=https://gitlab.com/api/v4/projects/41789144/packages/npm/
; //gitlab.com/api/v4/projects/41789144/packages/npm/:_authToken=hoiMMt6aTvRSiP3CsQF7
